div.content div.presentation + div {
    margin: 0 auto;
    max-width: 600px;
}
body.loaded {
    img {
        opacity: 1;
    }

}

.presentation {
    display: flex;

    padding: 2.5vw;

    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    img{
        opacity: 0;
        transition: all 0.5s ease-in-out;

        width: 40vw;
        height: 40vw;

        max-width: 250px;
        max-height: 250px;
        
        border-radius: 50%;

        margin-bottom: 15px;
    }
    h2{
        // background-color: black;
        display: block;

        // margin: 0;
        // margin-bottom: 15px;
        margin-left: .5em;

        font-size: 2em; 
        text-align: center;
    }
    p{
        flex-basis: 100%;

        font-weight: 300;
        text-align: justify;        

        margin: 0;
    }
}

div.extend{

    margin-top: 1em;

    display: flex;
    
    width: 100%;

    flex-direction: column;

    div.main-skills {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        background-color: #4A5459;
        border-radius: 7px;

        padding: 0 5vw;
        margin: 0 auto;
        
        h3 {
            display: flex;
        }
    }

    div.other-skills {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        padding: 0 5vw;
    }

    
    // Arrow on check
    input[type="checkbox"]:checked + label span.arrow {
        transform: rotate(-90deg);
    }

    // Extend >> header
    input[type="checkbox"]:not(:checked) + label + div {
        // height: 60px;
    }

}
input[type="checkbox"]{
    display: none;
    visibility: hidden;
}
// Arrow svg
span.arrow {
    display: inline-block;
    width: 31px;
    height: 6px;

    transition: 0.3s;

}
span.arrow span.line {
    background: #fff;
    top: initial;
    left: initial;
    bottom: initial;
    width: 18px;
}
span.arrow span.line:nth-child(1) {
    background: #faa;
    transform: rotate(45deg);
}
span.arrow span.line:nth-child(2) {
    background: #aaa;
    transform: translateX(10px) rotate(-45deg);
}

// Timeline
div#timeline{
    margin-top: 3em;
    // item
    .timeitem:nth-of-type(1) {
        margin-top: .25em;
    }
    .timeitem {
        display: none;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;

        border-left: 4px solid $secondColor;
        // padding: 1em .25em .25em 1em;
        padding: 0 .25em 0 1em;

        opacity: 0;
        // transition: opacity .3s ease-in-out, max-height .3s ease-in-out;
        transition: all .5s ease-in-out;

        // date
        span {
            font-size: 14px;
            transform: translateX(-30px);
            background: $bgColor;
            padding: 15px;
            
        }
        // title
        span + p{
            font-size: larger;
            transform: translateX(-30px);  
            flex: 100;          
            // transform: translateX(-15px);
        } 
        p{
            margin-bottom: 0;
            margin-top: 0;
        }
        // site and time
        div.itemdescription {
            flex: 0 0 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: .25em;
            height: auto;

            display: none;

            p:nth-of-type(1){
                display: inline;
                font-size: smaller;
                padding: .25em .25em .25em .25em;
                // background-color: $secondColor;
                // border-radius: 5px;
                border: 1px solid white;
                border-radius: 5px;
                margin: 10px 0px;
            }
            
            p:nth-of-type(3) {
                flex-grow: 1;
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}


@keyframes show{
    0% {opacity: 0}  
    100% {opacity: 1}
}

@keyframes turn{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(180deg);}
}

@keyframes growing {
    0% {transform: scaleY(0.0); }
    100% {transform: scaleY(1); }
}

input[type="checkbox"].expand {
    display: none;
    visibility: hidden;
}
input[type="checkbox"].expand ~ div:last-child{
    // height should be 0
    // height: 0;
    animation-name: growing;
    animation-duration: .8s;
    overflow: hidden;
}
input[type="checkbox"].expand ~ * ~ label > svg{

    transform: rotate(90deg) scale(1.5);
    transition: all .2s;
}
input[type="checkbox"].expand ~ div label{
    padding: 0 1em;
}
input[type="checkbox"]:checked.expand ~ * ~ label > svg{
    transform: rotate(0deg) scale(1.5);
    transition: all .2s;
}
input[type="checkbox"]:checked.expand ~ div:last-child{
    // height should be auto;
    animation-name: growing;
    animation-duration: .1s;
    display: flex !important;
}



// Show and hide on timeline
input[type="checkbox"]:checked#experiences ~ div.timeitem.experience,
input[type="checkbox"]:checked#educations ~ div.timeitem.education,
input[type="checkbox"]:checked#awards ~ div.timeitem.award  {
    opacity: 1;
    display: flex;
    // max-height: 160px;
    // animation-name: growing;
    // animation-duration: 1s;
    padding: 1em .25em .25em 1em;
}

input[type="checkbox"]:not(:checked)#experiences ~ label[for="experiences"],
input[type="checkbox"]:not(:checked)#educations ~ label[for="educations"],
input[type="checkbox"]:not(:checked)#awards ~ label[for="awards"]
{
    border-color: rgba($color: #000000, $alpha: 0.0);
}





.clickable {
    display: inline-block;
    padding: 5px;
    margin: 5px;

    border: 1px $accentColor solid;
    border-radius: 6px;

    transition: all 0.3s ease-in-out
}

.clickable:hover{
    transform: translateY(-3px);
    cursor: pointer;
}

//

@media (min-width: 380px) {
    div.extend div.values div.main-skills {
        flex-direction: row;
        max-width: 500px;
    }

    div.extend div.values div.other-skills {
        flex-direction: row;
        flex-wrap: wrap;
        & > * {
            flex: 50% 0 0;
            text-align: center;
            margin-right: auto;
        }
    }
}
