footer {
    width: 100%;
    overflow: visible;
    
    padding: 0em 2em 8em 2em;
    z-index: 0;
    
    font-size: .85em;
    font-weight: $semilight;
    color: $footerFontColor;

    p {
        text-align: center;
    }


    ul.social-icons {
        list-style: none;

        // Centered
        margin: 2em auto;
        display: block;

        text-align: center;

        // Avoid tab padding
        -moz-padding-start: 0px;
        -webkit-padding-start: 0px;
        -khtml-padding-start: 0px;
        -o-padding-start: 0px;
        padding-inline-start: 0px;

        // Avoid top and bottom margin default
        margin-block-start: 0px;
        margin-block-end: 0px;

        li {
            display: inline-block;
            margin: .25em;
        }
        li a svg {
            width: 5vw;
            min-width: 25px;
            max-width: 30px;
            transition: all .25s;

            &:hover{
                @include transform( translateY(-4px) );

                -webkit-filter: drop-shadow( 0 0 .5em white);
                filter: drop-shadow( 0 0 .5em white);
            }
        }
    }
}
