footer {
    width: 100%;
    // max-height: 172px;
    height: 20vh;
    overflow: visible;

    padding: 2em;
    margin-bottom: 85px;
    z-index: 0;

    font-size: .85em;
    font-weight: $semilight;
    color: $footerFontColor;

    // text-align: center;


    // background-color: $secondColor;

    p {
        text-align: center;
    }


    ul.social-icons {
        list-style: none;

        // Centered
        margin: 2em auto;
        display: block;

        text-align: center;

        -moz-padding-start: 0px;
        -webkit-padding-start: 0px;
        -khtml-padding-start: 0px;
        -o-padding-start: 0px;
        padding-inline-start: 0px;

        li {
            display: inline-block;
            margin: .25em;
        }
        li a svg {
            width: 5vw;
            min-width: 25px;
            max-width: 30px;
            transition: all .25s;

            &:hover{
                @include transform( translateY(-4px) );

                -webkit-filter: drop-shadow( 0 0 .5em white);
                filter: drop-shadow( 0 0 .5em white);
            }
        }
    }
}
