
article.post{
    header.post-header{
        img.post-image {
            position: relative;
            display: block;
            width: 100vw;
            height: auto;
            max-width: $bodyMaxWidth;
        
            // Override body padding
            top: -1em;
            left: -1em;
            z-index: -2;
        }
        h1.post-title {
            background-color: $secondColor;
            padding: 16px;
            padding-bottom: 9.6px;

            margin-bottom: 0;
            margin-top: -35px;
        }
        p.post-meta {
            margin: 0;
            padding: 0 0 16px 16px;
            font-size: .8em;
            color: rgba(190, 190, 190, 0.9);
            background-color: $secondColor;
        
            // a[itemprop="name"] {
            // }
            // a[itemprop="name"]:hover {
            //     color: $accentColor;
            // }
        }
    }
    div.post-content{
        // max-width: $postMaxWidth;
        margin: 0 auto;

        img {
            width: 100vw;
            height: 100%;
            display: block;
            position: relative;
            left: -1em;
        }
    }

}

// Colored flavour-ed blocks of code inside posts
div[class^="language-"] {
    margin: 1em 0.5%;
    width: 100%;
}
.highlight {
    margin-bottom: 15px;

    padding: .5em;
    
    border-radius: 8px;
    border: 1px $secondColor solid;
    
    overflow: scroll;
    pre {
        margin-left: 1em;
        margin-right: 1em;
    }
}

// Blockquotes
blockquote {
    color: $secondWhiteColorAlpha;
    padding-left: 1.5em;
    border-left: 5px solid $secondWhiteColor;
    margin: .5em;
}

// Table
th {
    border-right: 1px solid #dcdcdc;
    padding: 8px 12px;
}
td {
    border-right: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    padding: 8px 12px;
}
td:last-child, th:last-child {
    border-right: 0;
}
table {
    display: block;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    overflow: scroll;
}

// Mermaid svgs
div.mermaid > svg {
    background-color: #243951;
    border-radius: 10px;
    padding: 10px;
    
    .messageText {
        fill: white;
    }

    line[class^="messageLine"]{
        stroke: white;
    }
    defs path {
        fill: white;
    }
}


@include desktop {
    .page-title {
        display: none;
        visibility: hidden;
    }
    .post-content {
        max-width: 600px;
    }

    div[class^="language-"] {
        display: block;    
    }

    article.post {
        div.post-content{
            img {
                width: 100%;
                height: 100%;
                display: block;
                position: inherit;
                left: inherit;
            }
        }
    }

    // Code
    .highlight {
        display: block;
    }

    blockquote {
        margin: 1em;
    }
}
@include largeScreen {
    .post-content {
        max-width: 900px;
    }
}


