<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TQ6DVCC');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="R53BwwFZUtjoCMUFBCLiAWI9qvMdxwJ5-QLTh5jnf0g" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href= {{ "assets/css/styles.css" | relative_url }} >
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106315954-1"></script>
    <script> window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-106315954-1');</script>

    <meta name="theme-color" content="#{{site.notificationColor}}" />
    {% seo %}

    {% assign actual_lang = page.lang %}
    {% assign language_url = '' %}
    {% assign pages = site.pages | where: "ref", page.ref | sort: "lang" %}

    {% for pagei in pages %}
        {% if pagei.lang != actual_lang %}<link rel="alternate" hreflang="{% if actual_lang == 'es' %}en{% else %}es{% endif %}" href="{{pagei.url | absolute_url}}"/>{% assign language_url = pagei.url | absolute_url %}{% endif %}
    {% endfor %}
    {% assign posts = site.posts | where:"ref", page.ref | sort: "lang" %}
    {% for post in posts %}
        {% if post.lang == actual_lang %}{% else %}<link rel="alternate" hreflang="{% if post.lang == 'es' %}en{% else %}es{% endif %}" href="{{post.url | absolute_url}}"/>{% assign language_url = post.url | absolute_url %}{% endif %}
    {% endfor %}
    {% assign projects = site.projects | where:"ref", page.ref | sort: "lang" %}
    {% for project in projects %}
        {% if project.lang == actual_lang %}{% else %}<link rel="alternate" hreflang="{% if project.lang == 'es' %}en{% else %}es{% endif %}" href="{{project.url | absolute_url}}"/>{% assign language_url = project.url | absolute_url %}{% endif %}
    {% endfor %}
</head>