<script>
class Dot extends HTMLElement{
    constructor(){
        super();
        let shadow = this.attachShadow({mode: 'open'});
        shadow.innerHTML = `
            <style>
                svg{
                    display: inline-block;
                } 
            </style>`;
                
        let lon = parseFloat(this.getAttribute('data-lon'));
        let radius = parseFloat(this.getAttribute('data-size'));
        let color = this.getAttribute('data-color');
        let offset_percent = 0.8;
        let offset = radius+radius*offset_percent;
        let baseColor = color;
        let borderColor = color;
        let borderSize = "0.5";

        let svg = document.createElementNS('http://www.w3.org/2000/svg','svg');
        svg.setAttribute('width', 5*radius+5*offset+offset/2)
        svg.setAttribute('height', '20')
        svg.setAttribute('viewbox', '0 0 50 50')
        svg.setAttribute('preserveAspectRatio', 'xMidYMin')

        for(let i = 0; i < 5; i++) {
            if(i<lon){
                let dot_filled = new Circle(baseColor, radius, i*radius+i*offset+offset)
                svg.appendChild(dot_filled);
            }
            else{
                let dot_void = new Circle(baseColor, radius, i*radius+i*offset+offset, borderColor, borderSize)
                svg.appendChild(dot_void);
            }
        }

        shadow.appendChild(svg);
    }

    
}

class Circle{
    constructor(fillColor, size, position, borderColor, borderSize){
        let circle = document.createElementNS('http://www.w3.org/2000/svg','circle');
        circle.setAttribute("cx", position);
        circle.setAttribute("cy","50%");
        circle.setAttribute("r",size);
        if(borderColor && borderSize){
            circle.setAttribute("stroke", borderColor);
            circle.setAttribute("stroke-width", borderSize);
            circle.setAttribute("fill-opacity", "0.0");
        }
        else{
            circle.setAttribute("fill", fillColor);
        }
        return circle;
    }
}
window.customElements.define('app-dot', Dot)
</script>

