---
layout: default
---
<h1>/{{page.title | downcase }}</h1>

{% assign author = site.data.authors.Marcos[page.lang] %}
<div class="presentation">
    {% cloudinary {{author.img}} alt="{{author.name}} bio pic" loading="lazy"%}
    <h2>{{ author.name }}</h2>
    <p>{{ author.bio }}</p>
</div>
<div>
    <div class="extend">
            <input type="checkbox" id="skills">
            <label for="skills">
                <h2>
                    ./{{ site.data.translations.items.about.skills[page.lang] }}
                </h2>
            </label>
            <div class="values">
                {%- for skill in site.data.skills.items -%}
                    {%- if forloop.index <= 3 -%}
                    <div class="top">
                        <p> {{ skill.name }} </p>
                        <app-dot data-lon="{{ skill.progress }}" data-color="#fdfffc" data-size="6"></app-dot>
                    </div>
                    {%- else -%}
                    <div class="mini">
                        <p> {{ skill.name }} </p>
                        <app-dot data-lon="{{ skill.progress }}" data-color="#D1D1D1" data-size="3.5"></app-dot>
                    </div>
                    {%- endif -%}
                {%- endfor -%}
            </div>
    </div>
    <div id="timeline">
        <h2>./Timeline</h2>
        <input type="checkbox" name="educations" id="educations" checked>
        <input type="checkbox" name="experiences" id="experiences" checked>
        <input type="checkbox" name="awards" id="awards" checked>
        <label for="experiences" class="clickable"> {{ site.data.translations.items.about.experiences[page.lang] }} </label>
        <label for="educations" class="clickable"> {{ site.data.translations.items.about.educations[page.lang] }} </label>
        <label for="awards" class="clickable"> {{ site.data.translations.items.about.awards[page.lang] }} </label>
        
        {% assign items = "" | split: "" %}
        {%- for experience in site.data.experiences.items[page.lang] -%}
            {% assign items = items | push: experience %}
        {%- endfor -%}
        {%- for education in site.data.educations.items[page.lang] -%}
            {% assign items = items | push: education %}
        {%- endfor -%}
        {%- for award in site.data.awards.items[page.lang] -%}
            {% assign items = items | push: award %}
        {%- endfor -%}
        {% assign sorted = items | sort: 'date' | reverse %}
        {%- for item in sorted -%}
        
        <div class="timeitem {{ item.type }}">
            <span>{{ item.date | split: ',' | reverse | join: '/' }}</span>
            <p> {{ item.name }} </p>
            <div>
                <p> {{ item.long }} </p>
                <p> {{ item.site }} </p>
            </div>
            <div>
                <p> {{ item.desc }} </p>
            </div>
        </div>
        {%- endfor -%}
    </div>
</div>