---
layout: default
---
<h1>/{{page.title | downcase }}</h1>

{% assign author = site.data.authors.Marcos[page.lang] %}
<div class="presentation">
    <img src={{ author.img | relative_url }} alt="{{ author.img_alt }}">
    <h2>{{ author.name }}</h2>
    <p>{{ author.bio }}</p>
</div>
<div>
    <div class="extend">
            <input type="checkbox" id="skills">
            <label for="skills">
                <span class="arrow">
                    <span class="line"></span>
                    <span class="line"></span>
                </span>
                <h2>
                    {{ site.data.skills[page.lang] }}
                </h2>
            </label>
            <div class="values">
                {%- for skill in site.data.skills.array -%}
                    {%- if forloop.index <= 3 -%}
                        <div class="top">
                            <p> {{ skill.name }} </p>
                            <app-dot data-lon="{{ skill.progress }}"></app-dot>
                        </div>
                    {%- else -%}
                        <div class="mini">
                            <p> {{ skill.name }} </p>
                            <app-dot data-lon="{{ skill.progress }}"></app-dot>
                        </div>
                    {%- endif -%}
                {%- endfor -%}
            </div>

    </div>



</div>