---
layout: default
---
<h1>/{{page.title | downcase }}</h1>

  <div class="post-list">
    {% assign posts=site.posts | where:"lang", page.lang %}
    {% for post in posts %}
      <article>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {% if post.thumbnail %}
            <div class="gradient">
                <img src={{ post.thumbnail }} alt="">
            </div>
            {% else %}
            <div class="color">
            </div>
            {% endif %}
      
            <h2 class="overlay title">
              {{ post.title }}
            </h2>
            <span class="overlay date">{{ post.date | date: "%-d %b %Y" }}</span>
            
            <!-- <img id="author-img" src="{{ site.data.authors[post.author].img }}" width="100px" height="100px" alt=""> -->
          </a>
      </article>
    {% endfor %}
    </div>