---
layout: default
---
<h1>/{{page.title | downcase }}</h1>

  <div class="post-list">
    {% assign posts=site.posts | where:"lang", page.lang %}
    {% for post in posts %}
      <article>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {% if post.image %}
            <div class="gradient">
                {% cloudinary {{post.image}} alt="{{post.title}} image" loading="lazy"%}
            </div>
            {% else %}
            <div class="color">
            </div>
            {% endif %}
            <h2 class="overlay title"> {{ post.title }} </h2>
            <span class="overlay date">{{ post.date | date: "%-d %b %Y" }}</span>
          </a>
      </article>
    {% endfor %}
    </div>