---
layout: default
---
<h1>{{page.title }}</h1>

  <div class="post-list">
    {% assign posts=site.posts | where:"lang", page.lang %}
    {% for post in posts %}
      <article>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {% if post.image %}
            <div class="gradient">
              {%- capture isVideo -%}{{ if post.image contains '.webm' or post.image contains '.mp4'}}1{%- endcapture -%}
              {% cloudinary {{post.image}} alt="{{post.title}} image" loading="lazy"%}
            </div>
            {% else %}
            <div class="color">
            </div>
            {% endif %}
            {{ isVideo }}
            <h2 class="overlay title"> {{ post.title }} </h2>
            <span class="overlay date">{{ post.date | date: "%-d %b %Y" }}</span>
          </a>
      </article>
    {% endfor %}
    </div>