<!DOCTYPE html>
<html lang={{page.lang}}>

    {% include head.html %}
    
<body  {% if page.ref == 'index' %}class="anim" {% else %} onload=" document.body.className += 'loaded' " {% endif %}>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQ6DVCC"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include header.html %}

    <div class="content">
        {{ content }}
    </div>

    {% include footer.html %}

    {% include endingscripts.html %}

</body>
</html>