---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  
  <header class="post-header">
      {% if page.image.first %}
      <!-- video array -->
      <video class="post-image" autoplay loop muted playsinline>
        <source src="https://res.cloudinary.com/Marcosaurios/video/fetch/q_auto, c_limit/{{page.image[0]}}" type="video/webm; codecs=av01.0.05M.08"> 
        <source src="https://res.cloudinary.com/Marcosaurios/video/fetch/q_auto, c_limit/{{page.image[1]}}" type="video/mp4; codecs=av01.0.05M.08">
        <source src="https://res.cloudinary.com/Marcosaurios/video/fetch/q_auto, c_limit/{{page.image[2]}}" type="video/mp4; codecs=avc1.4D401E">
        <p>Your browser doesn't support HTML5 video</p>
      </video>
    {% else %}
      <!-- img -->
      {% cloudinary {{page.image}} class="post-image" itemprop="image" alt="{{page.title}} image" loading="lazy"%}
    {% endif %}

    <h1 class="post-title" itemprop="name headline" title={{page.title}} >{{ page.title }}</h1>
    <p class="post-meta">
      {% if page.author %}<span itemprop="author" itemscope itemtype="http://schema.org/Person"><a href={{ site.data.menu.items[page.lang][1].url | relative_url }} itemprop="name">{{ page.author }}</a></span>{% endif %}
      {{site.data.translations.items.post.publishedOn[page.lang]}}<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{% include date.html date=page.date %}</time>
      {% if page.skills %} // {{page.skills}} {% endif %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  
</article>